/* Reset some default browser styles */
body, h2, label, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./anh/anhdangky.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1aa6f7;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
.tos
{
    text-align: left;
}
.errorcheck
{
    color:red;
}
.toMain{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 25px;
}